<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Zone</title>

    <link rel="stylesheet" href="./assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

</head>

<body>

    <header style="padding-bottom: 50px;">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top border-bottom">
            <div class="container roboto-font">
                <a class="navbar-brand" href="index">AUDIO ZONE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="">
                    <ul class="navbar-nav ml-auto text-uppercase">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="complaints">Complaints</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Data</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="container-fluid" style="margin-top: 80px;">
            <table class="table table-striped table-hover roboto-font">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Complaint</th>
                    </tr>
                </thead>
                <tbody>

                    <% complaintData.forEach( complaints => { %>
                        <tr>
                            <td><%= complaints.fName %></td>
                            <td><%= complaints.lName %></td>
                            <td><%= complaints.email %></td>
                            <td><%= complaints.message %></td>
                        </tr>
                    <% }) %>

                </tbody>
            </table>
        </div>
    </header>

    <footer class="fixed-bottom">
        <div class="text-center">
            <p class="lead">&copy; Benedict's Designs</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>

</html>